* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(0,0,0, 0.2);
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: justify-content;
  align-items: center;
  z-index: 2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navTitle {
  position: relative;
  background: red;
  display: grid;
  place-items: center;
}

.navTitle h1 {
  font-size: 20px;
  color: white;
}

.fa-bars {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background: rgba(128, 128, 128, 0.24);
  padding: 10px;
  border-radius: 50%;
}

.fa-bars div:nth-child(1) {
  width: 20px;
  height: 3px;
  background: rgb(255, 255, 255);
}

.fa-bars div:nth-child(2) {
  position: relative;
  left: 7px;
  width: 12px;
  height: 3px;
  background: rgb(2, 225, 255);
}

.fa-bars div:nth-child(3) {
  width: 20px;
  height: 3px;
  background: rgb(255, 255, 255);
}

.cLang {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 80px;
  top: 23px;
  cursor: pointer;
}

.cLangList {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.212);
  position: absolute;
  top: 70px;
  right: 55px;
}

.cLangList span {
  cursor: pointer;
  padding: 10px;
  color: white;
}

.cLangList span:nth-child(1) {
  border-bottom: 1px solid black;
}

.form {
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 2.2rem;
 width: 100%;
  background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%, 
            rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, 
            rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
  z-index: +1;
}

.bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%,100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 3s linear infinite;
}

.star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}

.star:nth-child(2) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 0;
  right: 220px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.star:nth-child(4) {
  top: 0;
  right: -220px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 1.6s;
}

.formV {
  animation: desv 1s linear forwards;
}

@keyframes desv {
  to {
    opacity: 0;
  }
}

.fHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 3px;
  margin-bottom: 15px;
  background: rgba(0,0,0,0.3);
}

.fHead .div1 {
 position: absolute;
 transform: translateX(-52%);
 top: 4.5px;
 z-index: 2;
 background-image: linear-gradient(to right, #f00, #f90, #ff0, #0f0, #00f, #90f, #f00);
 background-size: 200% auto;
 background-position: 0 50%;
 filter: blur(5px);
 width: 45%;
 padding: 16px;
}

@keyframes gradient-animation {
   0% {
    background-image: linear-gradient(to right, #f00, #f90, #ff0, #0f0, #00f, #90f, #f00);
    background-size: 200% auto;
    background-position: 0 50%;
   }
   50% {
    background-image: linear-gradient(to right, #f00, #f90, #ff0, #0f0, #00f, #90f, #f00);
    background-size: 200% auto;
    background-position: 100% 50%;
   }
   100% {
    background-image: linear-gradient(to right, #f00, #f90, #ff0, #0f0, #00f, #90f, #f00);
    background-size: 200% auto;
    background-position: 200% 50%;
   }
}


.fHead button {
 background: none;
 border: none;
 padding: 5px 5px;
 z-index: 3;
 color: white;
}

@keyframes slidebgtoleft {
 from {
  transform: translateX(55%);
 }
 to {
  transform: translateX(-52%);
 }
}

@keyframes slidebgtoright {
 to {
  transform: translateX(55%);
 }
}

.logForm {
  display: flex;
  flex-direction: column;
  padding: 5px
}

.logForm h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logUsername, .logPassword {
  display: flex;
  flex-direction: column;
  position: relative;
}

.logUsername input, .logPassword input {
  padding: 0.5rem;
  padding-left: 30px;
  border-radius: 3px;
  color: white;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  caret-color: lightblue;
  -webkit-caret-color: lightblue;
  -moz-caret-color: lightblue;
  -mz-caret-color: lightblue;
}

input:focus {
 outline: none;
}

.logUsername {
  margin-bottom: 20px;
}

.logUsername .faUser {
 color: white;
 position: absolute;
 top: 55%;
 left: 10px;
}

.logPassword {
  margin-bottom: 10px;
}

.logPassword .faLock {
 color: white; 
 position: absolute;
 top: 55%;
 left: 10px;
}

.remData {
 display: flex;
 align-items: center;
 margin-bottom: 15px;
}

.remData input {
 border: 50%;
}

.remData span {
 margin-left: 5px;
 color: gray;
}

#forgot_pass {
  background: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  cursor: pointer;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px;
  transition: 0.5s;
  box-shadow: inset 0 0 2px white;
}

#forgot_pass:hover {
 box-shadow: none;
}

.logForm label {
  font-size: 17px;
  color: white;
}

#log_send_form {
  background: rgba(24, 24, 65, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#log_send_form:hover {
  box-shadow: inset 0 0 2px white;
}

.logLoading {
  width: 25px;
  height: 25px;
  border: 1px dashed rgba(2, 225, 255, 1);
  border-radius: 50%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.alertt {
  font-size: 15px;
  color: red;
  margin-bottom: 15px;
}

#alicon {
  width: 5px;
  height: 40px;
  margin-right: 10px;
}

.slide-left {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.slide-right {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}