.navbar {
  background: none;
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid gray;
}

.navTitle {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
}

.navImg {
  width: 45px;
  height: 40px;
}

.navTitle span {
  margin-left: 10px;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.navMenu {
  cursor: pointer;
  z-index: 3;
}

.navIcon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background: none;
  position: relative;
}

.navIcon div:nth-child(1) {
  width: 20px;
  height: 2px;
  background: black;
}

.navIcon div:nth-child(2) {
  width: 20px;
  height: 2px;
  background: black;
}

.navClosed div:nth-child(1) {
  position: relative;
  top: 3px;
  animation: rf .3s ease forwards;
}

.navClosed div:nth-child(2) {
  position: relative;
  bottom: 6px;
  animation: rs .3s ease forwards;
}

@keyframes rf {
  to {
    transform: rotate(45deg);
  }
}

@keyframes rs {
  to {
    transform: rotate(-45deg);
  }
}

.navList {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: none;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  right: 0;
  top: 0;
  margin-top: 80px;
  transform: scale(0);
  overflow-y: scroll;
  width: 100%;
  padding: 0 10px;
  height: 100%;
  min-height: 100vh;
  z-index: 2;
}

.Link {
  margin: 25px 0;
  padding: 10px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 19px;
  border-radius: 0px;
  text-align: left;
}

.lb {
  text-align: center;
  border-radius: 10px
}

.lb1 {
  background: white;
  color: black;
}

.lb2 {
  border: 1px solid white;
}

.changeLang button {
  border-radius: 0px;
  padding: 15px;
  font-size: 15px;
  text-align: left;
  color: white;
  width: 100%;
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
}

.navListOpen {
  animation: navListOpen 0.3s ease forwards;
}

.navListClosed {
  animation: navListClosed 0.3s ease forwards;
}

@keyframes navListOpen {
  from {
    transform: scaleX(0);
    transform-origin: right;
  }
  to {
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes navListClosed {
  from {
    transform: scaleX(1);
    transform-origin: right;
  }
  to {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.langMenu {
  display: flex;
  flex-direction: column;
  transform: scale(0);
  padding: 0 10px;
}

.langMenuOpen {
  animation: langMenuOpen 0.3s ease forwards;
}

.langMenuClosed {
  animation: langMenuClosed 0.3s ease forwards;
}

@keyframes langMenuOpen {
  from {
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    transform: scaleY(1);
    transform-origin: top;
  }
}

@keyframes langMenuClosed {
  from {
    transform: scaleY(1);
    transform-origin: top;
  }
  to {
    transform: scaleY(0);
    transform-origin: top;
  }
}

#cLangIcon {
  color: lightblue;
  margin-right: 10px;
  font-size: 23px;
}

.langMenu button {
  border-bottom: 1px ridge white;
}