.navbar {
  background-color: rgba(0,0,0, 0.2);
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 0.5px solid darkgray;
}

.navTitle {
  position: relative;
  display: flex;
  align-items: center;
}

.reactImg {
  width: 45px;
  height: 40px;
}

.navTitle span {
  margin-left: 10px;
  font-size: 30px;
  color: white;
}

.navMenu {
  cursor: pointer;
}

.navIcon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background: none;
  position: relative;
}

.navIcon div:nth-child(1) {
  width: 20px;
  height: 1px;
  background: white;
}

.navIcon div:nth-child(2) {
  width: 20px;
  height: 1px;
  background: white;;
}

.navClosed div:nth-child(1) {
  position: relative;
  top: 3px;
  animation: rf .3s ease forwards;
}

.navClosed div:nth-child(2) {
  position: relative;
  bottom: 4.5px;
  animation: rs .3s ease forwards;
}

@keyframes rf {
  to {
    transform: rotate(45deg);
  }
}

@keyframes rs {
  to {
    transform: rotate(-45deg);
  }
}

.navList {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  right: 0;
  top: 86px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border: 1px solid white;
}

.navListContent {
  position: relative;
  display: flex;
  flex-direction: column;
  background: gray;
  width: 100%;
  height: 100%;
}

.Link {
  color: white;
  text-align: left;
}￼

.lastButtons {
  display: flex; 
  flex-direction: column;
}

.navLoginButton, .navSignupButton {
  background: red;
}

.changeLang button {
  border-radius: 0px;
  padding: 15px;
  font-size: 15px;
  text-align: left;
  color: white;
  width: 100%;
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
}

.navList {
  transform: scale(0);
}

.navListOpen {
  animation: navListOpen 0.3s ease forwards;
}

.navListClosed {
  animation: navListClosed 0.3s ease forwards;
}

@keyframes navListOpen {
  from {
    transform: scaleX(0);
    transform-origin: right;
  }
  to {
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes navListClosed {
  from {
    transform: scaleX(1);
    transform-origin: right;
  }
  to {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.langMenu {
  display: flex;
  flex-direction: column;
  transform: scale(0);
  padding: 0 10px;
}

.langMenuOpen {
  animation: langMenuOpen 0.3s ease forwards;
}

.langMenuClosed {
  animation: langMenuClosed 0.3s ease forwards;
}

@keyframes langMenuOpen {
  from {
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    transform: scaleY(1);
    transform-origin: top;
  }
}

@keyframes langMenuClosed {
  from {
    transform: scaleY(1);
    transform-origin: top;
  }
  to {
    transform: scaleY(0);
    transform-origin: top;
  }
}

#cLangIcon {
  color: lightblue;
  margin-right: 10px;
  font-size: 23px;
}

.langMenu button {
  border-bottom: 1px ridge white;
}